.positive, .post .positive {
	color: $blue;
}

.green, .post .green {
	color: $green;
}

.yellow {
	color: $yellow;
}

.bg-smoth {
	background: $smoth;
}

.bg-green {
	background: $green;
}

.bg-yellow {
	background: $yellow;
}

.bg-positive {
	background: $blue;
}

.smoth-dark {
	color: $dark-smoth;
}