@keyframes flipBlogContainer {
	to {
		transform(rotateY(0) scale(1))
	}
}

@keyframes fadeInBlue {
	to {
		text-shadow: 0 0 0 $blue;
	}
}

@keyframes fadeInYellow {
	to {
		text-shadow: 0 0 0 $yellow;
	}
}