
transition(propiedade){
	-webkit-transition propiedade
	-moz-transition propiedade
	-ms-transition propiedade
	-o-transition propiedade
	transition propiedade
}

display(propiedade){
	display propiedade
}

perspective(propiedade){
	-webkit-perspective propiedade
	-moz-perspective propiedade
	-ms-perspective propiedade
	-o-perspective propiedade
	perspective propiedade
}

flex-direction(propiedade){
	-webkit-flex-direction propiedade
	-moz-flex-direction propiedade
	-ms-flex-direction propiedade
	-o-flex-direction propiedade
	flex-direction propiedade
}


animation(propiedade){
	-webkit-animation propiedade
	-moz-animation propiedade
	-ms-animation propiedade
	-o-animation propiedade
	animation propiedade
}

twoAnimations($a1, $a2){
	-webkit-animation $a1 $a2
	-moz-animation $a1 $a2
	-ms-animation $a1 $a2
	-o-animation $a1 $a2
	animation $a1 $a2
}

animation-fill-mode(propiedade){
	-webkit-animation-fill-mode propiedade
	-moz-animation-fill-mode propiedade
	-ms-animation-fill-mode propiedade
	-o-animation-fill-mode propiedade
	animation-fill-mode propiedade
}

transitionTimeDelay(duration delay){
	-webkit-transition-duration duration
	-moz-transition-duration duration
	-ms-transition-duration duration
	-o-transition-duration duration
	transition-duration duration
	-webkit-transition-delay delay
	-moz-transition-delay delay
	-ms-transition-delay delay
	-o-transition-delay delay
	transition-delay delay
}

transform(propiedade){
	-webkit-transform propiedade
	-moz-transform propiedade
	-ms-transform propiedade
	-o-transform propiedade
	transform propiedade
}

transformOrigin(propiedade){
	-webkit-transform-origin propiedade
	-moz-transform-origin propiedade
	-ms-transform-origin propiedade
	-o-transform-origin propiedade
	transform-origin propiedade
}

absolute(top left){
	position absolute
	left left
	top top
}

fixed(top left){
	position fixed
	left left
	top top
}

box-sizing(propiedade){
	-webkit-box-sizing propiedade
	-moz-box-sizing propiedade
	-ms-box-sizing propiedade
	-o-box-sizing propiedade
	box-sizing propiedade
}