
/* COLORS */
$green = #009b3a;
$yellow = #ffe500;
$blue = #002776;
$white = #fff;
$smoth = #f3f3f3;
$dark-smoth = #ccc;
$light-smoth = #A7AEB3;
$dark = #333;

/* FONTS */
$font-featured = 'Indie Flower', cursive;
$font-text = 'Roboto', sans-serif;
$font-title = 'Dosis', sans-serif;