
.post {
	max-width: 60rem;
	margin: 0 auto;

	img {
		margin: 2rem 0;
		float: none;
	}

	p, span, a, label, li, figcaption {
		font-size: 1.4rem;
		line-height: 2.3rem;
	}

	p, span, label, li, figcaption {
		color: #000;
	}

	li, ol, ul {
		list-style: inside;
	}

	.credits {
		font-size: 1rem;
		color: $light-smoth;
	}

	header .credits {
		margin-bottom: 2rem;
	}

	h1, h2, h3, h4 {
		margin-top: 2rem;
		color: $blue;
	}

	a {
		color: $green;

		&:hover {
			box-shadow: 0 3px 0 $green;
		}
	}

	.wrapper {
		text-align: center;
		margin-bottom: 2rem;

		img {
			margin-top:0;
			margin-bottom: 2rem;
		}

		.btn-row {
			margin-bottom: 4rem;
		}
	}

	.note, .dark-note, .text-note {
		padding: 2rem;
		border: solid 4px $blue;
		margin: 2rem 0;
	}

	.dark-note {
		background: rgba(0, 39, 118, 0.66);
		color: $white;
	}

	.text-note {
		border: solid 3px $green;
		padding: 0.1rem 1rem;
	}

	.citation {
		margin: 2rem 0;
		border-left: solid 4px $green;
		font-style: italic;
		padding-left: 2rem;
	}

	.post-description {
		margin-top:0;
	}
}

.post-comments h4 {
	margin-top: 3rem;
	text-align: center;
}