#exemplo-1 {
	color: transparent!important;
	text-shadow: 0 0 40px transparent;
	margin-bottom:1rem;
	transition: .3s all ease-out;
}

label {
	background: #002776;
	color: #fff!important;
	cursor:pointer;
	padding: 1rem;
}

#ts:checked ~ p {
	text-shadow: 0 0 0px #000;
}