.btn-row {
	.btn {
		display: inline-block;
	}
}

body .btn, body a.btn {
	font-family: $font-title;
	width: 14rem;
	font-size: 1.8rem;
	height: 3.3rem;
	line-height: 3rem;
	margin-right: 1rem;

	&.positive {
		background: #002776;
		color: #fff;
	}
}